In [1]:
import pandas as pd
import numpy as np

In [8]:
market_data = pd.read_csv('../data/market_data/BTCUSDT_15m_2025-06-09_2025-07-09.csv')
news_data = pd.read_csv('../data/processed_news/features_Bitcoin_2025-06-09_2025-07-09.csv')

In [13]:
news_data['publishedAt'] = pd.to_datetime(news_data['publishedAt'])

In [15]:
news_data.sort_values(by='publishedAt', inplace=True)

In [9]:
market_data

,Date,Open,High,Low,Close,Volume
0,2025-06-09 00:00:00,105734.01,105791.83,105592.00,105686.28,255.38312
1,2025-06-09 00:15:00,105686.28,105858.21,105581.44,105775.53,161.03984
2,2025-06-09 00:30:00,105775.53,105966.33,105700.05,105767.45,142.20787
3,2025-06-09 00:45:00,105767.46,105767.46,105600.00,105706.34,83.67209
4,2025-06-09 01:00:00,105706.34,105706.34,105561.73,105650.14,65.15878
...,...,...,...,...,...,...
2888,2025-07-09 02:00:00,108780.77,108837.70,108761.45,108837.70,68.58911
2889,2025-07-09 02:15:00,108837.70,108837.70,108700.00,108700.01,45.82827
2890,2025-07-09 02:30:00,108700.01,108770.16,108659.49,108712.99,103.10681
2891,2025-07-09 02:45:00,108712.99,108712.99,108600.00,108611.53,60.35014
2892,2025-07-09 03:00:00,108611.53,108665.40,108600.00,108600.00,24.27020